# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE workspace files
.idea*

# Build files
build/*
cmake-build*
mediapipe/demo_run_graph_main.cc

mediapipe/modules/hand_landmark/hand_landmark_cpu.pbtxt

mediapipe/modules/hand_landmark/hand_landmark_model_loader.pbtxt

mediapipe/modules/palm_detection/palm_detection_model_loader.pbtxt

mediapipe/modules/hand_landmark/hand_landmark_gpu.pbtxt

openxr/OpenXR-SDK-release-1.0.34/

openxr/external/

illixr_ht_test.csh

illixr_monado_oxr.csh

openxr_ht_test.csh

docs/docs/index.md
